body {
    background-color: #77aca2;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #031926;
    border: 3px solid #d6c8c1;
}

.Meriendas {
    background-color: #9DBEBB;
    border: 2px solid #2a383e;
    padding: 10px;
    margin: 5px;
    font-family: helvetica, sans-serif;
}

button {
    background-color: #2a383e;
    color: #ffffff;
    border: 2px black solid;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
    display: inline-block;
    width: 250px;
}

.respuesta {
    margin: 20px;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

.enlaces {
    background-color: #70b8b2;
    margin: 20px;
    font-size: 17px;
    border: 2px solid #2a383e;
    padding: 15px;
    display: inline-block;
}

.destacados {
    background-color: #579696;
}

.tarjeta {
    border: 2px solid #2a383e;
    padding: 15;
    margin: 10px;
    display: inline-block;
    width: 200px;
    cursor: pointer;
    font-family: helvetica, sans-serif;
    user-select: none;
}

.juego {
    font-size: 16px;
    background-color: #9DBEBB;
    border: 2px solid #2a383e;
    padding: 15px;
    margin: 10px;
    width: 350px;
    font-family: helvetica, sans-serif;
    display: inline-block;
}